# Python virtual environment
venv/
.venv/

# Common Python cache
__pycache__/
*.py[cod]

# Byte-compiled / optimized / DLL files
*.pyo
*.pyd
*.so

# Environment variables and IDE stuff
.env
.env.*
.idea/
.vscode/
.DS_Store

