version: "3.9"

services:
  postgres:
    container_name: postgres
    image: postgres:16-alpine
    environment:
      - POSTGRES_DB=sms
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks: [infra_net]

  redis:
    container_name: redis
    image: redis:7-alpine
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redisdata:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 8
    networks: [infra_net]

volumes:
  pgdata:
  redisdata:

networks:
  infra_net:
    name: infra_net   # <-- shared network name (global)
    driver: bridge

